<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://www.wegiel.home.pl/00757872_millionaires?serverTimezone=CET</property>
        <property name="hibernate.connection.username">00757872_millionaires</property>
        <property name="hibernate.connection.password">millionaires</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="hbm2ddl.auto">validate</property>

        <mapping class="entity.Question"/>
        <mapping class="entity.User"/>


    </session-factory>
</hibernate-configuration>





